* {
    font-family: Verdana, sans-serif;
}

body {
    padding: 10px;
}

input {
    font-size: medium;
}

input[type=text] {
    border: 1px solid darkblue;
    border-radius: 4px;
    padding: 2px 2px 2px 5px;
    color: grey;
    font-size: small;
}

.errorCard {
    background-color:red;
    color: white;
    padding:20px;
    text-align:center;
}

.successCard {
    background-color:green;
    color: white;
    padding:20px;
    text-align:center;
}

.button {
    display: inline-block;
    background-color: grey;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 5px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

.small {
    font-size: small; !important;
}

.button:hover {
    background-color: black;
}

.red {
    background-color: crimson; !important
}

.green {
    background-color: green; !important;
}

.blue {
    background-color: dodgerblue; !important
}

.purple {
    background-color: purple; !important;
}